body
{
	background-color: #61122f;
	font-size: 16px;
}

/** HEADER **/
#header-nav
{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

.navbar-brand h1
{
	color: grey;
	font-family: 'Lora', serif;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
  	margin-bottom: 0;
  	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus
{
	text-decoration: none;
}

#nav-list
{
	margin-top: 10px;
}

#nav-list a
{
	color: #951C49;
	text-align:center;
}

#nav-list a:hover
{
	background: #E7E7E7;
}

#nav-list a span
{
	font-size: 1.8em;
}

#phone
{
	margin-top: 5px;
}

#phone a
{
	text-align: right;
	padding-bottom: 0;
}

#phone div
{
	color: #557c3e;
	text-align: right;
	padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar
{
	border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle
{
	clear: both;
	margin-top: -30px;
}

@media (max-width: 767px)
{
	.navbar-brand
	{
		padding-top: 10px;
		height: 80px;
	}

	.navbar-brand h1
	{
		padding-top: 10px;
		font-size: 5vw;
	}

	#collapsable-nav a
	{
		font-size: 1.2em;
	}

	#collapsable-nav a span
	{
		font-size: 1em;
		margin-right: 5px;
	}
}

.panel-footer
{
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
	color: white;
}

.panel-footer div.row
{
	margin-bottom: 35px;
}

#testimonials
{
	font-style: italic;
}

#main-content
{
	color: white;
}


